@font-face {
    font-family: 'p5hatty';
    src: URL('../p5hatty.ttf') format('truetype');
}
*{
    font-family:'p5hatty';
}
body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
#bgImage{
    will-change: transform;
    background-image: url("../bCity.png");
    background-size: 500px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    animation: backgroundScroll 50s linear infinite;
    -webkit-animation: backgroundScroll 50s linear infinite;
}
#logo{
    background-image: url("../logo.png");
    width: 18vw;
    height: 6vw;
    position: absolute;
    top: 7%;
    left: 51%;
    background-size: 18vw 6vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
}

#card{
    position:absolute;
    width:50vw;
    background-color:black;
    height: 81vh;
    margin:0;
    padding:0;
    top: 55vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius:30px;
    border:2px solid #37dbba;
    -webkit-box-shadow: 0px 11px 0px -4px rgba(0,0,0,0.7);
    box-shadow: 0px 16px 20px -4px rgba(0,0,0,1.7);
}
#choose{
    position:absolute;
    top:60%;
    width:90vw;
    height: 9vw;
}

button{
    border:none;
    background-color:white;
    padding:1.5vw 4.5vw;
    font-size:2.5vw;
    border-radius:40px;
    outline: none;
    transition: transform .05s ease-in-out,background-color .1s ease;
}
#goHomeButton{
    position: absolute;
    top:100%;
    left: 42%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#goHomeButton:active {
    position: absolute;
    top:103%;
}


#playButton{
    position: absolute;
    top:100%;
    left: 68%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#playButton:active {
    position: absolute;
    top:103%;
}

button:hover{
    background-color:rgb(212, 207, 207);
    cursor: pointer;
}
button:active {
    position: absolute;
    top:53%;
}

#nextRound{
    position:absolute;
    width: 50vw;
    top: 5vw;
    height:70px;
}
#txt1{
    position: absolute;
    top: 14px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.2vw;
}

#txt2{
    position: absolute;
    top: 8vw;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
}

#meter{
    border:none;
    border-radius: 30px;
    width:30vw;
    box-shadow: inset -1px -1px 24px 0px rgba(0,0,0,0.75);
    position: relative;
    top: 50%;
    left: 50%;
    background-color:#3f5e6370;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
#progress{
    background:#2AA990;
    height:5vh;
    width:0%;
}


@keyframes backgroundScroll {
    from { background-position: 0 0; }
    to { background-position: -500px 0; }
}
@-webkit-keyframes backgroundScroll {
    from { background-position: 0 0; }
    to { background-position: -500px 0; }
}


@media all and (max-width: 500px) and (orientation:portrait){
    #logo{
        width: 45vw;
        height: 15vw;
        background-size: 45vw 15vw;
    }

    #card{
        width: 88vw;
        height: 56vh;
        top: 45vh;
    }
    button{
        padding: 3.5vw 5.5vw;
        font-size: 5.5vw;
    }

    #goHomeButton{
        left: 32%;
        padding:5.5vw 9.5vw;
    }

    #playButton{
        left: 78%;
        padding:5.5vw 9.5vw;
    }
    
    #nextRound{
        top: 61vw;
        width: 86vw;
        top: 17vw;
        height: 79px;
    }
    #txt1{
        font-size: 8.2vw;
    }
    
    #txt2{
        top: 17vw;
        font-size: 5vw;
    }
    #progress{
        height: 3vh;
    }
}