@font-face {
    font-family: 'p5hatty';
    src: URL('../p5hatty.ttf') format('truetype');
  }

*{
    font-family: 'p5hatty';
    overflow: hidden;
}

html,body {
    font-family: 'p5hatty';
    height: 100%;
    width : 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 88vh;
    border-top-right-radius: 20px;  
}

#map * {
    overflow:visible;
}
.moving,
.moving * {cursor: crosshair !important;} 


#bgImage{
    will-change: transform;
    background-image: url("../bCity.png");
    background-size: 500px;
    position: absolute;
    left: 0;
    top: 0;
    height: 50vh;
    width: 100vw;
    animation: backgroundScroll 50s linear infinite;
    -webkit-animation: backgroundScroll 50s linear infinite;
}
#topBar{
    height: 14vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}
#logo{
    background-image: url("../logo.png");
    width: 24vw;
    height: 6vw;
    position: absolute;
    top: 58%;
    left: 16%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 15vw 5vw;
}

.cards{
    width: 9vw;
    height: 12vh;
    position: absolute;
    border: 1px solid #37dbba;
    border-radius:7px;
    -webkit-box-shadow: 0px 11px 0px -4px rgba(0,0,0,0.7);
    box-shadow: 0px 8px 6px -4px rgba(0,0,0,1.7);
    white-space: pre-line;
    line-height: 6.2vh;
    text-shadow: 2px 2px 0px black;
    padding-left: 5px;
    color: white;
    top:3%;
}

#username{
    left: 65%;
    background-image: url("../road.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#round{
    left: 85%;
    background-image: url("../road.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#time{
    left: 75%;
    background-image: url("../road.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#startPosition{
    position: relative;
    width: 43px;
    height: 43px;
    background-image: url("../flag.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 6;
    float: right;
    right: 5px;
    top: 61px;
}

#startPosition:hover{
    cursor: pointer;
}
#startPosition:focus{
    outline: none;
}

button{
    border:none;
    background-color:white;
    padding:1.5vw 4.5vw;
    font-size:30px;
    border-radius:40px;
    outline: none;
    transition: transform .05s ease-in-out,background-color .1s ease;
}
button:hover{
    background-color:rgb(212, 207, 207);
    cursor: pointer;
}

#makeGuess{
    position: absolute;
    width: 14vw;
    height: 12vh;
    right: 5vw;
    bottom: 12vh;
    padding: 10px;
    z-index: 25;
}

#makeGuessButton{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 5px 11px -4px rgb(0 0 0);
    box-shadow: 0px 5px 11px -4px rgb(0 0 0);
}

#makeGuessButton:active {
    position: absolute;
    top:53%;
}


#hide{
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
}

#nextRound{
    position:absolute;
    bottom: 0;
    width:100vw;
    height:20vh;
    background-color:#000000;
    z-index: 25;
}
#nextRoundButton{
    position: absolute;
    top:50%;
    right:0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:2px solid #37dbba;
}
#nextRoundButton:active {
    position: absolute;
    top:53%;
}

#endGameButton{
    position: absolute;
    top:50%;
    right:0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:2px solid #37dbba;
}
#endGameButton:active {
    position: absolute;
    top:53%;
}


@keyframes backgroundScroll {
    from { background-position: 0 0; }
    to { background-position: -500px 0; }
}
@-webkit-keyframes backgroundScroll {
    from { background-position: 0 0; }
    to { background-position: -500px 0; }
}

#panorama {
    height: 88vh;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    transition: width 0.6s;
    transition-timing-function: ease;
    width:80vw;
}
.open{
    width:80vw;
}
.close{
    width: 0;
}

#playing-container{
    width: 100vw;
    height: 84vh;
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#card{
    position: absolute;
    width: 100vw;
    margin:auto;
    height: 86vh;
    background-color: #37dbba;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    bottom:0;
    border-top: 3px solid black;
    z-index: 25;
}
#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div > div > div{
    display:none;
}
#txt1{
    position: absolute;
    top: 6px;
    left: 5vw;
    color: white;
    font-size: 2.2vw;
}

#txt2{
    position: absolute;
    top: 6vh;
    left: 5vw;
    color: white;
    font-size: 2.5vw;
}

#meter{
    border:none;
    border-radius: 30px;
    width:30vw;
    box-shadow: inset -1px -1px 24px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: 93%;
    left: 5vw;
    background-color:#3f5e6370;
    overflow: hidden;
    z-index: 25;
}
#progress{
    background:#2AA990;
    height:5vh;
    width:0%;
}

#panorama > div > div:nth-child(14){
    display: none;
}


@media(max-width: 1000px) and (orientation:landscape){

    #card{
        top:110px;
    }
    #makeGuess{
        bottom: 0vh !important;
    }
    #panorama{
        height: 88vh !important;
    }
    #map{
        height: 88vh !important;
    }
    @supports (-webkit-touch-callout: none) {
        #card{
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}




@media all and (max-width: 500px) and (orientation:portrait){
    #logo{
       width: 30vw;
       height: 9vw;
       background-size: 30vw 10vw;
       top: 60px;
    }

    #playing-container{
        height:84vh;
    }
    #card{
        top:170px;
    }
    #nextRound{
        bottom:-56px;
    }
    

    .cards{
        width: 18vw;
        height: 8vh;
        line-height: 4.2vh;
        top: 31px;
        font-size: 3vw !important;
    }
    #username{
        left: 33%;

    }

    #round{
       left: 77%;
    }

    #time{
       left: 55%;
    }

    #panorama{
        width: 100vw !important;
        height: 42vh;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }
    #map{
        border-top-right-radius: 0;
        height: 42vh;
    }

    #makeGuess{
       width: 26vw;
       height: 6vh;
       left:32%;
       bottom: -20px !important;
    }

    #makeGuessButton{
        width: 40vw;
        height: 18vw;
    }

    #nextRoundButton{
       top: 38%;
       right: -70px;
    }

    #endGameButton{
        top: 38%;
        right: -70px;
    }
    #playing-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #txt1{
        font-size: 3.8vw;
     }

    #txt2{
        font-size: 5vw;
        top: 4vh;
    }

    #meter{
        top: 95%;
    }

    #progress{
       height: 3vh;
    }
    #nextRoundButton:active {
        top: 38%;
    }
    #endGameButton:active {
        top: 38%;
    }

    @supports (-webkit-touch-callout: none) {
        html{
            top:0;
        }
        #logo{
            top:30px;
        }
        .cards{
            top: 5px;
        }
        
        #filler{
            display:block !important;
            width: 100vw;
            height: 150vh;
            background-color: black;
            position: fixed;
            top:40%;
            z-index: -10;
        }
        #bgImage{
            z-index: -15;
        }
        #makeGuess{
            width: 26vw;
            height: 6vh;
            left:32%;
            bottom: -40px !important;
            z-index: 30;
        }
        #nextRound{
            bottom: -90px;
            z-index: 30;
        }
        #meter{
            top:90vh;
            z-index: 30;
        }
        #card{
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
     
    }
}


